html, body{
	background-image: url("images/star.png");
	height: 100%;
	font-size: 40px;
	color: yellow;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}



.header {
	margin: 0 auto;
	font-size: 40px;
	font-weight: bolder;
	border: 3px solid aliceblue;
	text-align: center;
	overflow: auto;
	background-color: black;
}
